<div id="home-page" class="w-100">
	
	<section  animateOnScroll animationName="animated fadeIn" class="front-section d-flex align-items-center">
		<div animateOnScroll animationName="animated fadeInLeft" class="content py-5 px-3 text-light shadow">
			
				<div class="container-fluid tc valign-middle">
				  <div class="row">
					<div class="col-sm-12">
			  
					  <h1 class="text-medium text-white text-center fs-60 marg-t-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h1>
			  
					  <div class="row">
						<div class="col-md-8 offset-md-2">
						  <h2 class="text-white text-center fs-24  marg-t-20 marg-b-100">
							Mus mauris vitae ultricies leo integer. Ornare massa eget egestas purus viverra accumsan. Ante in nibh mauris cursus mattis molestie a. 
						  </h2>
						</div>
					  </div>
			  
					  <div class="zip-search-area">
						<div class="js-geo-location input-icon-container flex flex-flow-row-wrap">
						  <div class="marg-b-15 pad-l-0-sm input-icon-wrap input-icon-wrap--inline marg-x-0 full-width--xs">
							<span class="input-icon--xs" aria-hidden="true">
								<i class="fa fa-map-marker"></i>
							</span>
							<div class="input-icon-copy--xs fs-20">
							  <span>Zip Code</span>
							</div>
							<input type="text" class="input-with-icon form-control white-BG js-geo-location-zip fs-20">
						  </div>
			  
						  <div class="text-center full-width--xs">
			  
							<span class="et-ac-suf-bo handle btn btn-lg fs-20 btn-success btn-full-xs text-bold track-click border-l-radius-sm-0 js-new-job" id="post-job-hero" data-location="hero" data-event-name="clicked_paj_button" data-place="L2pvYnMvbmV3" data-query="page_location=hero">Get Free Proposals</span>
						  </div>
						</div>
					  </div>
					</div>
				  </div>
				</div>
			  
				<div id="brands" class="text-center">
			  
				  <div class="visible-xs">
					<i class="marg-y-20 sprite-global sprite-logo-menlo valign-middle marg-x-10"></i>
					<i class="marg-y-20 sprite-global sprite-logo-airbnb valign-middle marg-x-10"></i>
					<i class="marg-y-20 marg-l-10 sprite-global sprite-visually-logo valign-middle"></i>
				  </div>
			  
				  <div class="hidden-xs">
					<i class="marg-y-20 sprite-global sprite-logo-menlo valign-middle marg-x-35"></i>
					<i class="marg-y-20 sprite-global sprite-logo-airbnb valign-middle marg-x-35"></i>
					<i class="marg-y-20 sprite-global sprite-visually-logo valign-middle marg-x-35"></i>
				  </div>
				</div>
			  
			</div>
	</section>

	<section animateOnScroll animationName="animated fadeIn" class="greetings-section text-light">
		<div class="row">
			<div class="col-sm-6">
			 <img class="img-fluid" src="../../../../../assets/home-page/overview.jpg" alt="overview-image">				
			</div>
			<div class="col-sm-6 d-flex align-items-center">
				<div class="container p-5">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione exercitationem eos tenetur ut repellat odio a, cumque, eaque libero laboriosam voluptatibus doloremque? Ad inventore amet ipsum et vero dolorum, animi!
					</p>
					<button class="link-button mat-raised-button">Read more...</button>
				</div>
			</div>
		</div>
	</section>

	<section animateOnScroll animationName="animated fadeIn"  class="accomplishments-section py-5">
		<h1 class="text-center py-5">Our Accompishments</h1>
		<div class="row justify-content-center py-5">
			<div class="col-12 col-sm-4 py-4 text-center">
				<img class="img-fluid rounded-circle p-2"src="../../../../../assets/home-page/clients.png" alt="clients-icon">
				<p class="py-2 ">Satisfied Clients <span class="ml-2" animateOnScroll animationName="activate-counting" [appCounting]="clients"></span></p>
			</div>
			<div class="col-12 col-sm-4 py-4 text-center">
				<img class="img-fluid rounded-circle p-2"src="../../../../../assets/home-page/projects.png" alt="projects-icon">
				<p class="py-2">Projects taken <span class="ml-2" animateOnScroll animationName="activate-counting" [appCounting]="projects"></span></p>
			</div>
			<div class="col-12 col-sm-4 py-4 text-center">
				<img class="img-fluid rounded-circle p-2"src="../../../../../assets/home-page/global.png" alt="global-icon">
				<p class="py-2">Worldwide <span class="ml-2" animateOnScroll animationName="activate-counting" [appCounting]="global">+</span></p>
			</div>
			<div class="col-12 col-sm-4 py-4 text-center">
				<img class="img-fluid rounded-circle p-2"src="../../../../../assets/home-page/experience.png" alt="growth-icon">
				<p class="py-2">Experience <span class="ml-2" animateOnScroll animationName="activate-counting" [appCounting]="experience"></span></p>
			</div>
			<div class="col-12 col-sm-4 py-4 text-center">
				<img class="img-fluid rounded-circle p-2"src="../../../../../assets/home-page/team.png" alt="team-icon">
				<p class="py-2"> Team <span class="ml-2" animateOnScroll animationName="activate-counting" [appCounting]="team"></span></p>
			</div>
		</div>
	</section>

	<section  animateOnScroll animationName="animated fadeIn" class="clients-section py-5">
		<h1 class="text-center py-5">Our Clients</h1>
		<div class="row py-5 px-4">
			<div class="col-12 col-sm-4 mt-5 mt-sm-0 d-flex flex-column align-items-center">
				<mat-card class="h-100 card">
					<div class="links">
						<button class="link-button" mat-fab aria-label="twitter link">
							<i class="fa fa-twitter text-primary"></i>
					    </button>
					</div>
					<mat-card-header>
					    <mat-card-title>Austin peters</mat-card-title>
					    <mat-card-subtitle>Managing director @corporate pvt. ltd.</mat-card-subtitle>
					</mat-card-header>
					<img mat-card-image src="../../../../../assets/home-page/client-1.jpg" alt="Photo of client">
					<mat-card-content>
					    <p class="h-100 px-2 py-4">
					     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, atque iusto alias corporis ducimus nobis sint hic vel maiores rem enim rerum inventore quaerat eum, porro temporibus fugit. Dolor, corporis?
					     
					    </p>
				    </mat-card-content>
			    </mat-card>
			</div>
			<div class="col-12 col-sm-4 mt-5 mt-sm-0 d-flex flex-column align-items-center">
				<mat-card class="h-100  card">
					<div class="links">
						<button class="link-button" mat-fab aria-label="twitter link">
							<i class="fa fa-twitter text-primary"></i>
					    </button>
					</div>
					<mat-card-header>
					    <mat-card-title>Franco ray</mat-card-title>
					    <mat-card-subtitle>CEO @corporate pvt ltd.</mat-card-subtitle>
					</mat-card-header>
					<img mat-card-image src="../../../../../assets/home-page/client-2.jpg" alt="Photo of client">
					<mat-card-content>
					    <p class="h-100 px-2 py-4">
					      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus voluptatibus veniam adipisci harum necessitatibus perspiciatis dicta, saepe a, assumenda voluptatum eligendi blanditiis eius facere nisi fugit. Facere ratione, accusamus at.
					    </p>

				    </mat-card-content>
			    </mat-card>
			</div>
			<div class="col-12 col-sm-4 mt-5 mt-sm-0 d-flex flex-column align-items-center">
				<mat-card class="h-100 card">
					<div class="links">
						<button class="link-button" mat-fab aria-label="twitter link">
							<i class="fa fa-twitter text-primary"></i>
					    </button>
					</div>
					<mat-card-header>
					    <mat-card-title>Ashu walia</mat-card-title>
					    <mat-card-subtitle>CTO @corporate pvt. ltd.</mat-card-subtitle>
					  </mat-card-header>
					<img mat-card-image src="../../../../../assets/home-page/client-3.jpg" alt="Photo of client">
					<mat-card-content>
					    <p class="h-100 px-2 py-4">
					      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam accusantium nobis dolores praesentium veniam magnam asperiores perferendis animi? Asperiores maxime hic sint nam, mollitia voluptate accusantium animi non repellendus odio.
					       Asperiores maxime hic sint nam, mollitia voluptate accusantium animi non repellendus odio.
					    </p>
					</mat-card-content>
				</mat-card>
			</div>
		</div>
		

	</section>
</div>

