.navbar-nav  a {
	color: #ffffff;
    font-weight: 600;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
    font-size: 15px;
    padding: 10px 25px;
} 

.navbar-brand {
  color: #ffffff;
}